# IDE
.idea/
.vscode/

# Node
target/

# Runner
certificates
*.config.json
venv/
__pycache__
runner.log
node.log

# Other
psk
psk_sig
.node_key
reset.sh
start1.sh
start2.sh
start3.sh
start4.sh
insertKey.sh
venv.sh
customSpec.json
customSpecRaw.json
/.config
/tmp